*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
}

html {
  height: 100vh;
}



.main-div {
  height: 100vh;
  background: -webkit-linear-gradient(
    to bottom,
    #004d99 20%,
    #0073e6 70%,
    #ffffff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #004d99 20%,
    #0073e6 70%,
    #ffffff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-div-gallery {
  height: 100vh;
  background: -webkit-linear-gradient(
    to bottom,
    #004d99 20%,
    #0073e6 70%,
    #ffffff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #004d99 20%,
    #0073e6 70%,
    #ffffff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


header {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  
}

.logo {
  display: flex;
  width: 400px;
  padding-top: 10px;
  padding-left: 60px;
}

.logo2 {
  display: flex;
  width: 220px;
  margin: 0 auto;
  padding-bottom: 13px;
  justify-content: center;
}

.logo3 {
  display: none;


}


.dove {
  width: 80px;
  height: 80px;
  filter: drop-shadow(3px 1px 2.5px #a6a6a6);
}

.contact-dove {
  width: 50px;
  height: 50px;
  filter: drop-shadow(1.5px 1px 1.5px #a6a6a6);
 
  
}

.dove-title,
.contact-dove-title {
  font-family: "Love Ya Like A Sister", cursive;
  color: white;
  font-size: 16.5px;
  letter-spacing: 0.5px;
  margin-left: -22px;
  margin-top: 18px;
  text-align: center;
  z-index: 1;
}
.contact-dove-title {
  font-size: 10.5px;
  margin-top: 10px;
  margin-left: -18px;
}

.navigation {
  list-style: none;
  display: flex;
  padding-top: 40px;
}

.contact-navigation {
  list-style: none;
  width: 100%;
  display: flex;
  padding-top: 40px;
  justify-content: space-between;
}
.contact-links {
  font-size: 18px;
  text-decoration: none;
  color: white;
  font-family: "Love Ya Like A Sister", cursive;
}

.contact-links.home {
  padding-left: 130px;
}
.contact-links.gallery {
  padding-right: 130px;
}

.links {
  font-size: 18px;
  text-decoration: none;
  color: white;
  font-family: "Love Ya Like A Sister", cursive;
  padding-right: 70px;
}

a:hover {
  color: #99e7ff;
}

.main-section,
.contact-main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

.contact-main-section {
  height: 80vh;
}


.text {
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 40px;
  background: linear-gradient(to right, #66b3ff 10%, #fff 50%, #33cfff 80%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4.5s linear infinite;
  text-align: center;
  line-height: 70px;
}

.contact-text,
.contact-text1 {
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 34px;
  color: #33cfff;
  text-align: center;
  text-decoration: none;
}
.contact-text1 {
  padding-bottom: 20px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.footer,
.footer2, 
.footer3 {
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #004d99;
  width: 290px;
  margin: 0 auto;

}

footer {
  height: 5vh;
}


.footer3 {
  padding-top: 33px;
  
  
}

/*  PAGE GALLERY  */

.composition-section {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  height: 80vh;
  
}

.composition {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.composition-photo {
  width: 33.33333%;
  border-radius: 2px;
  z-index: 10;
  transition: all 0.2s;
  
}
.photo-1 {
  width: 30%;
  margin-top: -70px;
  margin-right: -80px;
  filter: drop-shadow(2px 3px 4px #404040);
  z-index: 4;
  
}
.photo-1:hover {
  outline: 2.5px solid #33cfff;
  transform: scale(1.05) translateY(-0.5px);
  filter:contrast(115%);
  z-index: 20;
}

.photo-2 {
  width: 30%;
  margin-top: 40px;
  filter: drop-shadow(2px 3px 4px #404040);
  
  
}
.photo-2:hover {
  outline: 2.5px solid #33cfff;
  filter:contrast(115%);
 
}

.photo-3 {
  width: 30%;
  margin-top: -70px;
  margin-left: -80px;
  z-index: 5;
  filter: drop-shadow(2px 3px 4px #404040);
  
  
}
.photo-3:hover {
  outline: 2.5px solid #33cfff;
  transform: scale(1.05) translateY(-0.5px);
  z-index: 20;
  filter:contrast(115%);
}

.photo-4 {
  width: 30%;
  margin-top: -180px;
  filter: drop-shadow(2px 3px 4px #404040);
 
  z-index: 6;
  
}
.photo-4:hover {
  outline: 2.5px solid #33cfff;
  transform: scale(1.05) translateY(-0.5px);
  z-index: 20;
  filter:contrast(115%);
}

.photo-5 {
  width: 30%;
  margin-top: -180px;
  margin-left: 70px;
  z-index: 6;
  filter: drop-shadow(2px 3px 4px #404040);
 
}
.photo-5:hover {
  outline: 2.5px solid #33cfff;
  transform: scale(1.05) translateY(-0.5px);
  z-index: 20;
  filter:contrast(115%);
}

/*  CONTACT FORM  */

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 24px;
  text-transform: uppercase;
  background: linear-gradient(to right, #66b3ff 10%, #fff 50%, #33cfff 80%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4.5s linear infinite;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  
  
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 35px;
  border: 1px solid #0073e6;
  border-radius: 10px;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 15px;
  background: transparent;
}

/* Full-width input fields */
.form-container input[type=text]
 {
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 14px;
  color: white;  
  width: 80%;
  padding: 5px;
  margin: 5px 0 22px 0;
  border: none;
  border-bottom: 1px solid #cccccc;
  background:transparent;
}

textarea {
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 14px;
  color: white;  
  padding: 5px;
  margin: 10px 10px 10px 10px;
  border: 1px solid #cccccc;
  background:transparent;
  max-width: 90%;
  min-width: 85%;
  max-height: 200px;
  min-height: 200px;
  
  
}


/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
textarea:focus {
  background-color: transparent;
  outline: none;
}

.buttons {
  margin-top: 25px;
  text-align: center;
}

/* Set a style for the submit/login button */
.form-container .btn {
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 14px;
  letter-spacing: .5px;
  text-transform: uppercase;
  background-color: white;
  color: #0073e6;
  padding: 10px 5px;
  border: .5px solid #0073e6;
  border-radius: 50px;
  cursor: pointer;
  width: 50%;
  margin-bottom:10px;
  opacity: 0.9;
  box-shadow:  2px 2px #0073e628;
  
  
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color:white;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 0.9;
  color: #33cfff;
  border:  .5px solid #33cfff;
  
  
}
.open-button:hover {
  border-radius: 10px;
}


.title {
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 14px;
  color: #33cfff;
  

}