@media only screen and (max-width: 414px) {


  /* THIS IS MEDIA QUERY FOR HOME PAGE  */

  header {
    height: 5vh;
  }
  footer {
    height: 15vh;
  }
  .logo {
    padding-left: 25px;
  }
  .dove {
    width: 60px;
    height: 60px;
  }
  .dove-title {
    font-size: 13px;
    margin-left: -15px;
    margin-top: 13px;
  }

  .navigation {
    padding-top: 33px;
  }

  .links {
    font-size: 13px;
    padding-right: 30px;
  }
  .main-section {
    height: 80vh;
    padding-top: 0;
  }

  .text {
    font-size: 30px;
    line-height: 55px;
  }
  .footer {
    padding-top: 60px;
    font-size: 12px;
    width: 260px;
  }

  /* THIS IS MEDIA QUERY FOR CONTACT PAGE  */

  .contact-links {
    font-size: 13px;
  }
  .contact-links.home {
    padding-left: 50px;
  }
  .contact-links.gallery {
    padding-right: 50px;
  }
  .contact-navigation {
    padding-top: 30px;
  }

  .contact-main-section {
    padding-top: 0;
    height: 80vh;
  }

  .contact-text1 {
    font-size: 26px;
    line-height: 55px;
  }

  .contact-text {
    font-size: 20px;
  }
  .logo2 {
    padding-top: 0;
    border-bottom: none;
  }

  .footer2 {
    font-size: 12px;
    width: 255px;
    padding-top: 0;
    margin-bottom: 30px;
  }

  /* THIS IS MEDIA QUERY FOR CONTACT FORM  */

  .form-popup {
    top: 0;
    border: none;
    right: 42px;
  }

  .form-container {
    height: 510px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: -webkit-linear-gradient(
      to top,
      #004d99 10%,
      #0073e6 40%
     
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      #004d99 10%,
      #0073e6 40%
     
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  /* THIS IS MEDIA QUERY FOR GALLERY PAGE  */

  .logo3 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 40px;
  }

  .main-div-gallery {
   height: 100%;
    background: -webkit-linear-gradient(
      to bottom,
      #004d99 20%,
      #0073e6 90%,
      #ffffff
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to bottom,
      #004d99 20%,
      #0073e6 90%,
      #ffffff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .composition-section {
    height: 80%;
    padding-top: 30px;
  }
  .composition {
    position: relative;
    display: block;
  }
  .composition-photo {
    width: 100%;
  }
  .photo-1 {
    width: 100%;
    margin-top: 40px;
    filter: drop-shadow(2px 3px 4px #404040);
  }
  .photo-2 {
    width: 100%;
    filter: drop-shadow(2px 3px 4px #404040);
  }
  .photo-2:hover {
    outline: 2.5px solid #33cfff;
    transform: scale(1.05) translateY(-0.5px);
    filter: contrast(115%);
  }
  .photo-3 {
    width: 100%;
    margin: 40px auto;
    filter: drop-shadow(2px 3px 4px #404040);
  }
  .photo-4 {
    width: 100%;
    margin: 10px auto;
    filter: drop-shadow(2px 3px 4px #404040);
  }
  .photo-5 {
    width: 100%;
    margin: 40px auto;
    filter: drop-shadow(2px 3px 4px #404040);
  }

  .main-div {
    height: 100%;
    background: -webkit-linear-gradient(
      to bottom,
      #004d99 20%,
      #0073e6 70%,
      #ffffff
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to bottom,
      #004d99 20%,
      #0073e6 70%,
      #ffffff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .footer3 {
    padding-top: 10px;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 375px) {


/* THIS IS MEDIA QUERY FOR HOME PAGE  */

.logo {
  padding-left: 10px;
}

.navigation {
  padding-top: 33px;
}

.dove-title {
  margin-top: 11px;
  margin-left: -19px
}
.links {
  padding-right: 25px;
}


 /* THIS IS MEDIA QUERY FOR CONTACT FORM  */

 .form-popup {
  right: 22px;
}

}

@media only screen and (max-width: 360px) {
  .form-popup {
    right: 15px;
  }

  
}

@media only screen and (max-width: 320px) {


  /* THIS IS MEDIA QUERY FOR HOME PAGE  */

  header {
    height: 10vh;
  }
  .main-section {
    height: 70vh;
  }
  .text {
    font-size: 25px;
    line-height: 45px;
    padding-top: 50px;
  }
  .dove {
    width: 50px;
    height: 50px;
  }
  .dove-title {
    font-size: 11px;
  }
  .links {
    font-size: 11px;
  }
  .navigation {
    padding-top: 30px;
  }

  /* THIS IS MEDIA QUERY FOR CONTACT PAGE  */

  .contact-text,
  .contact-text1 {
    font-size: 20px;
    line-height: 45px;
    padding-bottom: 0;
  }

  .contact-main-section {
    height: 70vh;
  }

  /* THIS IS MEDIA QUERY FOR CONTACT FORM  */

 .form-popup {
  right: 5px;
}

.form-container {
  max-width: 280px;
  height: 480px;
}


.buttons {
  margin-top: 0;
}


  
   /* THIS IS MEDIA QUERY FOR GALLERY PAGE  */

   .logo3 {
     padding-top: 0;
   }

}

@media only screen and (min-width: 1440px) {


  /* THIS IS MEDIA QUERY FOR GALLERY PAGE  */



  .photo-4 {
    margin-top: -380px;
  }
  .photo-5 {
    margin-top: -380px;
  }
  .footer3 {
    padding-top: 60px;
  }

  /* THIS IS MEDIA QUERY FOR GALLERY PAGE  */

  .logo2 {
    padding-top: 27px;
  }

}

@media only screen and (min-width: 1920px) {

  /* THIS IS MEDIA QUERY FOR HOME PAGE  */

  .dove {
    width: 90px;
    height: 90px;
  }
  .dove-title {
    font-size: 19px;
    margin-top: 20px;
    margin-left: -26px;
  }

  .links {
    font-size: 19px;
  }

  .text {
    font-size: 50px;
  }

  /* THIS IS MEDIA QUERY FOR CONTACT PAGE  */

  .contact-text,
  .contact-text1 {
    font-size: 50px;
  }

  .contact-links.gallery,
  .contact-links.home {
    font-size: 19px;
  }

  

}